html.lenis {
  height: auto;
  scroll-behavior:smooth;
}
  #page1{
    background-color: #0D0D0D;
  }
  #page2{
    background-color: #0D0D0D;
  }
  #page3{
    background-color: #0D0D0D;
  }

  .proj{
    margin-top:3rem
  }
  .projName{
    z-index: 20;
  }
  .proj:first-child{
    margin-top: 5rem;
  }
  .randtext {
    transform: scaleY(0.8); /* Slows down the scrolling perception */
    transition: transform 1s ease-in-out;
  }
  group:first-child{
    margin-top: 13rem;
  }
  footer{
    margin-top: 5rem;
    font-size: 0.75rem;
  }